.btn1 {
    -fx-background-image: url("/img/plusIcon.png");
    -fx-background-size: 18 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
.btn2 {
    -fx-background-image: url("/img/minusIcon.png");
    -fx-background-size: 17 19;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
.btn3{
    -fx-background-image: url("/img/changeicon.png");
    -fx-background-size: 17 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.poljeIspravno {
    -fx-control-inner-background: #adff2f;
}
.poljeNijeIspravno {
    -fx-control-inner-background: lightpink;
}

.poljeNeutralno {
    -fx-background-color: white;
}

#mainPane{
    -fx-background-image: url("/img/previewBackgrond.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1025 759;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#addWindow{
     -fx-background-image: url("/img/bezSlova.png");
     -fx-background-repeat: stretch;
     -fx-background-size: 389 397;
     -fx-background-position: center center;
     -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
     overflow: hidden;
 }

#add2Window{
    -fx-background-image: url("/img/bezSlova.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1123 633;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    overflow: hidden;
}

#aboutWindow{
    -fx-background-image: url("/img/bezSlova.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1123 633;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    overflow: hidden;
}

.textarea{
    -fx-control-inner-background: antiqueWhite;
    -fx-background-color: peru;
}
